.error {
  color: white;
  background-color: #da3d3d;
  width: max-content;
  padding: 0.4rem 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.25) 3px 5px 4px 0px;
  font-size: 14px;
  border-radius: 4px;
  position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 12;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.error-circle {
  width: 1rem;
  height: 1rem;
  line-height: 16px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  font-family: verdana;
  text-align: center;
}
